
.btn {
    border: none;
    border-radius: 1em;
    height: 3.2rem;
    margin: 1rem 0px;
    width: 100%;
}

.btn-primary {
    background: $primary;
    background: linear-gradient(304deg, $primary 0%, $secondary 100%);
    color: $white;
    font-size: 1.2rem;
    font-weight: 700;

    &:disabled {
        background: $tertiary;
        background: linear-gradient(304deg, $tertiary 0%, $tertiary 100%);
    }
}

@media (max-width: 400px) {
    .btn {
        height: 2rem;
        border-radius: 0.5em;
    }

    .btn-primary {
        font-size: 0.9rem;
    }
}

@media (min-width: 401px) and (max-width: 800px) {
    .btn {
        height: 2.8rem;
        border-radius: 0.5em;
    }

    .btn-primary {
        font-size: 1rem;
    }
}